*{
    margin: 0;
    padding: 0;
    border: 0;
}

ul,ol,li{
    list-style: none;
}

.example{
    color: #fff;
}

.example-item{
    display: inline-block;

    height: 150px;
    width: 25%;
}

.example-item_first{
    background-color: rebeccapurple;
}

.example-item_second{
    background-color: orangered;
}

.example-item_third{
    background-color: black;
}